.section {
    width: 100%;
    padding: min(5vw, 3rem);
}

// Semicircle divider between website sections
.divider-top {
    margin-top: max(-5vw, -3rem); // Ignore padding of component
    margin-left: auto;
    margin-right: auto;

    width: min(5vw, 5rem);
    height: min(2.5vw, 2.5rem);

    border-radius: 0 0 3vw 3vw;
}

.divider-bottom {
    margin-bottom: max(-5vw, -3rem); // Ignore padding of component
    margin-left: auto;
    margin-right: auto;

    width: min(5vw, 5rem);
    height: min(2.5vw, 2.5rem);

    border-radius: 3vw 3vw 0 0;
}
