.night {
  --bg: #161616;
  --bg-hl: #4c4c4c;
  --backdrop: #e8dcc2;
  --switch: #ffffff;
  --text: #fafafa;
  --text-hl: #e8dcc2;
}

.day {
  --bg: #f2f2ef;
  --bg-hl: #6390aa;
  --backdrop: #7b9997;
  --switch: #00021c;
  --text: #e0f9f8;
  --text-hl: #f7e98c;
}
