.night {
  --bg: #161616;
  --bg-hl: #4c4c4c;
  --backdrop: #e8dcc2;
  --switch: #ffffff;
  --text: #fafafa;
  --text-hl: #e8dcc2;
}

.day {
  --bg: #eafaff;
  --bg-hl: #6390aa;
  --backdrop: #bfba74;
  --switch: #044f7a;
  --text: #332e24;
  --text-hl: #996806;
}
